body {
    /*background: #ddd none repeat scroll 0 0;*/
}



.logo img {
    width: 80px;

}
.versity_name span {
    color: red;
}

.application h3 {
    color: red;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.versity_name h2 {
    font-size: 37px;
    margin-left: 18px;
}
.application p {
    margin: 0;
    padding: 0;
}
.photo > p {
    border: 1px solid;
    height: 122px;
    margin-top: 5px;
    text-align: center;
    width: 110px;
}

.personal {
    border: 1px solid #000;
    margin-top: 5px;
    background-color: #B0DBF0;
}
.first_name {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #000 #000;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

input {
    border: medium none;

    padding: 0;
}